body { 
  background: linear-gradient(to top, #87ceeb, #fff);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  transition: background 3s linear;
}

.loop-wrapper {
  margin: 0 auto;
  position: relative;
  width: 600px;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid #fff;
}

/* Road strip for obstacle visibility */
.loop-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.2);
  z-index: 3;
}

/* Background elements */
.mountain {
  position: absolute;
  right: -900px;
  bottom: -20px;
  width: 2px;
  height: 2px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    60px 50px 0 70px #4DB6AC,
    90px 90px 0 50px #4DB6AC,
    250px 250px 0 50px #4DB6AC,
    290px 320px 0 50px #4DB6AC,
    320px 400px 0 50px #4DB6AC;
  transform: rotate(130deg);
  animation: mtn 20s linear infinite;
  z-index: 1;
}

.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 
    0 0 0 50px #4DB6AC,
    -20px 0 0 20px #4DB6AC,
    -90px 0 0 50px,
    250px 0 0 50px,
    290px 0 0 50px,
    620px 0 0 50px;
  animation: hill 4s 2s linear infinite;
  z-index: 2;
}

.tree, .tree:nth-child(2), .tree:nth-child(3) {
  height: 100px; 
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
  z-index: 3;
}

.tree:nth-child(2) { animation: tree2 2s linear infinite; }
.tree:nth-child(3) { animation: tree3 8s linear infinite; }

/* Truck + wheels */
.truck-wrapper {
  position: absolute;
  bottom: 0;
  left: 100px;
  z-index: 15;
  transition: bottom 0.3s ease;
}

.truck {
  width: 85px;
  height: 60px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
  background-size: contain;
}

.wheels {
  width: 85px;
  height: 15px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
  background-size: contain;
  position: relative;
  bottom: 5px;
}

.jump {
  animation: jumpTruck 0.6s ease-out;
}

@keyframes jumpTruck {
  0% { bottom: 0px; }
  50% { bottom: 120px; }
  100% { bottom: 0px; }
}

/* Obstacles */
.obstacle {
  position: absolute;
  bottom: 0;
  z-index: 10;
  transition: background 3s linear;
}

.tire {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}

.rock {
  width: 25px;
  height: 35px;
  background: #555;
  border-radius: 5px;
}

.debris {
  background: #8B4513;
  border-radius: 3px;
}

/* Overlay */
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

/* Score */
#score {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* Background animations */
@keyframes tree {0% {transform: translate(1350px);} 100% {transform: translate(-50px);}}
@keyframes tree2 {0% {transform: translate(650px);} 100% {transform: translate(-50px);}}
@keyframes tree3 {0% {transform: translate(2750px);} 100% {transform: translate(-50px);}}
@keyframes mtn {100% {transform: translateX(-2000px) rotate(130deg);}}
@keyframes hill {100% {transform: translateX(-2000px);}}
